input[type=text] {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #000;
  padding: 4px 8px;
}

input[type=text]:focus {
  border: 3px solid #000;
  outline: none;
}

select {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 3px solid #000;
  padding: 4px 8px !important;
}

select:focus {
  border: 3px solid #000;
  outline: none;
}

input[type=number] {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #000;
  padding: 4px 8px;
}

input:focus:read-only {
  padding: 4px 8px;
  border: none
}

input:read-only {
  padding: 4px 8px;
  border: none
}

[x-cloak] { display: none !important; }

.recipe-button {
  background-color: #FF7A5C !important;
  font-weight: bold;
  border-radius: 16px;
  padding: 8px 16px !important;
  border: 3px solid #000 !important;
  box-shadow: 4px 4px #000;
}

.recipe-button:hover {
  background-color: #C63C1D !important;
}

.recipe-button:focus {
  outline: none;
  background-color: #C63C1D !important;
}

.recipe-button:active {
  background-color: #C63C1D !important;
  box-shadow: 0px 0px #000;
  transform: translateY(4px) translateX(4px);
}

